<ion-view view-title="Let's have today's lunch at..">
  <ion-content class="padding">
  <div class="list card">
      <div class="item item-divider">Willy's Mexicana Grill</div>
      <div class="item item-body">
        <div>
          <b>5 votes</b> - Jeremy, Walt, AJ, Jim, Aaron
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Chipotle Mexican Cuisine</div>
      <div class="item item-body">
        <div>
          <b>3 votes</b> - AJ, Basil, Troy
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Bua Thai Cuisine</div>
      <div class="item item-body">
        <div>
          <b>2 votes</b> - Basil, Pankaj
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
